body {
    font-family: 'Outfit', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
   

}


.card {
    width: 250px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 4% auto;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h1 {
    font-size: 15px;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-size: 15px;
    padding-bottom: 2px;
    color:  hsl(212, 45%, 89%);
}
